.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b1 {
  margin-left: 20px;
}
